# TUGAS III

## Minggu ke III

# 5.5 Strings Index

Latihan Strings Index

In [1]:
#Pada String Index kita menggunakan kurung siku [] untuk menunjuk karakter yang akan di hasilkan.
kelas_41 = 'Saya sedang belajar pemrograman materi string index'
#Urutan huruf pertama dimulai dari angka 0, 1, 2 ,3 dan seterusnya
#Urutan juga bisa dimulai dari belakang dengan menggunakan tanda negatif
print(kelas_41[0:7])

Saya se

In [2]:
kelas_41[0:9]

'Saya seda'

In [3]:
type(kelas_41)

str

In [4]:
type(kelas_41[0:9])

str

In [6]:
type(str(kelas_41[0:9]))

str

In [7]:
kelas_41 = string[0]
#Ini contoh kode yang salah

NameError: name 'string' is not defined

In [9]:
#Mencoba mempelajari berbagai letak dari kode yang dibuat
print(kelas_41[-1:-7])
print(kelas_41[-1:])
print(kelas_41[-7:-1])
print(kelas_41[-9:0])
print(kelas_41[-15:])
print(kelas_41[:7])
print(kelas_41[7:])
print(kelas_41[8:])

x
g inde

ri string index
Saya se
dang belajar pemrograman materi string index
ang belajar pemrograman materi string index

In [10]:
my_teks_41 = 'I can show you the world'
print(my_teks_41[0]) 
print(my_teks_41[7])
print(my_teks_41[-1])

I
h
d

In [12]:
#Kita dapat menggabungkan lebih dari 1 string dengan menggunakan tanda '+'
my_tek_41 = 'Perkenalkan nama saya Leonard Bodhi Kumaro, biasa dipanggil Leo. Saya tinggal di daerah Jimbaran tepatnya di jalan goa gong.'
print(my_tek_41[55]+my_tek_41[1]+my_tek_41[3]+my_tek_41[11]) 
print(my_tek_41[1]+my_tek_41[1:])
print(my_tek_41[3]+my_tek_41[:1])
print(my_tek_41[11]) 
print(my_tek_41[-13])
print(my_tek_41[3])
print(my_tek_41[-2])

gek
eerkenalkan nama saya Leonard Bodhi Kumaro, biasa dipanggil Leo. Saya tinggal di daerah Jimbaran tepatnya di jalan goa gong.
kP

l
k
g

# 5.6 Strings Methods

Latihan Strings Methods

In [14]:
my_tek_41 = 'Perkenalkan nama saya Leonard Bodhi Kumaro, biasa dipanggil Leo. Saya tinggal di daerah Jimbaran tepatnya di jalan goa gong.'
print(len(my_tek_41))

124

In [15]:
#Merubah kalimat yang di input menjadi huruf kapital
my_tek_41.upper()

'PERKENALKAN NAMA SAYA LEONARD BODHI KUMARO, BIASA DIPANGGIL LEO. SAYA TINGGAL DI DAERAH JIMBARAN TEPATNYA DI JALAN GOA GONG.'

In [16]:
#Merubah kalimat yang di input menjadi huruf kecil
my_tek_41.lower()

'perkenalkan nama saya leonard bodhi kumaro, biasa dipanggil leo. saya tinggal di daerah jimbaran tepatnya di jalan goa gong.'

In [17]:
#Mencari kata 'nama' dalam kalimat
my_tek_41.find('nama')

12

In [18]:
#Mencari kata 'saya' dalam kalimat
my_tek_41.find('saya')

17

In [19]:
#Mencari kata 'Leo' dalam kalimat apakah ada atau tidak
print('Leo'in my_tek_41)

True

In [20]:
#Mencari kata 'leo' dalam kalimat apakah ada atau tidak
print('leo'in my_tek_41)

False

# 5.7 Operasi Matematika di Python

Latihan Menggunakan Operasi Matematika

In [22]:
# Penjumlahan
print(4+5)
# Pengurangan
print(6-8)
# Perkalian
print(3*7)
# Pembagian
print(15/6)
# Modulus
print(19%3)

9
-2
21
2.5
1

In [25]:
a = 10
b = 20
c = a + b
print(c)

d = 50
e = 30
f = d - e
print(f) 

m = 5
n = 6
o = m * n
print(o) 

p = 100
q = 10
r = p / q
print(r)

s = 17
t = 5
u = s % t
print(u)

30
20
30
10.0
2

# 5.8 Operator Perbandingan di Python

In [23]:
pena_41 = 17
tinta_41 = 9

#Menentukan kebenaran kalimat dengan operasi perbadingan
print(pena_41 > tinta_41)  # True, karena 10 lebih besar dari 5
print(pena_41 < tinta_41)  # False, karena 10 tidak lebih kecil dari 5
print(pena_41 == tinta_41)  # False, karena 10 tidak sama dengan 5
print(pena_41 != tinta_41)  # True, karena 10 tidak sama dengan 5
print(pena_41 >= tinta_41)  # True, karena 10 lebih besar atau sama dengan 5
print(pena_41 <= tinta_41)  # False, karena 10 tidak lebih kecil atau sama dengan 5

True
False
False
True
True
False

# 5.9 Operator Logika di Python

In [26]:
mobil_saya_41 = 5
motor_saya_41 = 10
if mobil_saya_41 > 0 and motor_saya_41 > 0:
    print("Kedua variabel bernilai positif.")

Kedua variabel bernilai positif.

In [27]:
mobil_saya_41 = 5
sepeda_saya_41 = -3
if x > 0 or y > 0:
    print("Salah satu atau kedua variabel bernilai positif.")

Salah satu atau kedua variabel bernilai positif.

In [31]:
makan_enak_41 = True
if not makan_enak_41 :
    print("Makan enak adalah False.")
else:
    print("Makan enak adalah True.")

Makan enak adalah True.

# 5.10 Operator if di Python

In [33]:
#Menentukan apakah x lebih kecil dari y dengan menggunakan operator if
x = 3
y = 10

if x < y:
  print("x kurang dari y")

x kurang dari y

In [ ]:
#Menentukan apakah x lebih kecil dari y dengan menggunakan operator if dan menambahkan else apabila kondisi if tidak terpenuhi
x = 10
y = 5

if x < y:
  print("x kurang dari y")
else:
  print("x lebih besar atau sama dengan y")