# TUGAS V (03/04/2023)

# 5.16 List 2 Dimensi

### 5.16.1 Latihan Menggunakan List 2 Dimensi

###### List 2 dimensi adalah sebuah struktur data dalam Python yang dapat menyimpan data dalam bentuk tabel dengan baris dan kolom.
###### -Untuk membuat list 2 dimensi, kita dapat menggunakan tanda kurung siku [ ] dan memasukkan list dalam list.
###### -Untuk mengakses elemen di list 2 dimensi, kita dapat menggunakan indeks baris dan kolom dengan tanda kurung siku.
###### -Untuk mengubah nilai elemen di list 2 dimensi, kita dapat menggunakan indeks dan mengganti nilainya.
###### -Untuk menambahkan baris baru ke list 2 dimensi, kita dapat menggunakan method append() dan memasukkan list baru ke dalamnya.
###### -Untuk menampilkan seluruh elemen di list 2 dimensi, kita dapat menggunakan perulangan for dan mengakses setiap elemen dengan indeks baris dan kolom.

In [3]:
################################################################
# Mencetak nilai menggunakan List 2 Dimensi
################################################################

# membuat list 2 dimensi
matrix = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12],
    [13,14,15,16]
]
# mengakses elemen matrix
print(matrix)

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [13, 14, 15, 16]]

In [5]:
# mencoba mengakses elemen di baris ke-2
matrix[1]

[5, 6, 7, 8]

In [6]:
# mencoba mengakses elemen di baris ke-2 kolom ke 2
matrix[1][1]

6

In [7]:
# membuat pernyataan matrix[2][3]=10
matrix[2][3]=10

In [8]:
# mengakses pernyataan matrix[2][3]=10
print(matrix[2][3])

10

In [9]:
# mengakses matrix
matrix

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 10], [13, 14, 15, 16]]

In [10]:
# menampilkan seluruh elemen di list 2 dimensi
for baris in matrix:
    print(baris)
    for kolom in baris:
        print(kolom)

[1, 2, 3, 4]
1
2
3
4
[5, 6, 7, 8]
5
6
7
8
[9, 10, 11, 10]
9
10
11
10
[13, 14, 15, 16]
13
14
15
16

# 5.17 Tuples

### 5.17.1 Latihan Menggunakan Tuples

###### Tuple adalah salah satu jenis tipe data di Python yang mirip dengan list, namun tidak dapat diubah setelah dibuat (immutable).
###### -Tuple ditandai dengan kurung bulat () dan elemen-elemennya dipisahkan oleh koma.
###### -Untuk mengakses elemen dalam tuple, kita dapat menggunakan indeks, sama seperti pada list.
###### -Kita juga dapat mencari indeks dari elemen tertentu dalam tuple menggunakan method index().
###### -Method count() digunakan untuk menghitung berapa kali elemen tertentu muncul dalam tuple.
###### -Kita dapat menggabungkan dua tuple dengan operator +.
###### -Untuk mengubah tuple menjadi list, kita dapat menggunakan fungsi list().

In [18]:
################################################################
# Mencetak nilai menggunakan List 2 Dimensi
################################################################

# membuat tuple dengan beberapa elemen
bilangan_41 = (0,1,1,3,4,5)

In [14]:
# mengakses elemen tuple menggunakan indeks
print(bilangan_41[0])

0

In [13]:
# menampilkan tuple
print(bilangan_41)

(0, 1, 1, 3, 4, 5)

In [24]:
# mengakses elemen tuple menggunakan indeks
print(bilangan_41[0:3])

[0, 1, 1]

In [75]:
for isi in bilangan_41[0:3]:
    print(isi)

0
1
1

In [23]:
# mengubah tuple menjadi list
bilangan_41 = list(bilangan_41)
print(bilangan_41)

[0, 1, 1, 3, 4, 5]

In [20]:
# menghitung berapa kali elemen tertentu muncul dalam tuple
bilangan_41.count(2)

0

In [21]:
# mencari indeks dari elemen tertentu dalam tuple
bilangan_41.index(4)

4

# 5.18 Dictionaries

### 5.18.1 Latihan Menggunakan Dictionaries

###### Dictionaries adalah struktur data yang digunakan untuk menyimpan pasangan key-value.
###### -Dalam contoh, kita membuat sebuah dictionary kosong dengan nama data_leo.
###### -Kemudian kita menambahkan beberapa elemen ke dalam dictionary.
###### -Untuk mengakses elemen dictionary, kita dapat menggunakan syntax data_leo[key]. Jika key tidak ditemukan dalam dictionary, maka akan menghasilkan error.
###### -Untuk mengubah nilai elemen dictionary, kita cukup mengakses elemen dengan key yang diinginkan dan mengganti nilai tersebut.
###### -Untuk menghapus elemen dictionary, kita dapat menggunakan syntax del data_leo[key]. Di sini, key adalah kunci dari elemen yang ingin dihapus.
###### -Untuk menampilkan semua key dan value pada dictionary, kita dapat menggunakan loop for dan syntax data_leo.items(). Di sini, items() adalah method yang digunakan untuk mengambil semua pasangan key-value pada dictionary dan mengembalikannya dalam bentuk tuple.

In [26]:
# Menambahkan elemen ke dictionary
data_leo = {
    "nama" : "Leonard Bodhi Kumaro",
    "umur" : 19,
    "apakah_angel" : True
}
# Mengakses elemen nama dictionary
print(data_leo ["nama"])

Leonard Bodhi Kumaro

In [27]:
# tidak bisa mengakses elemen dictionary, karena kesalahan menulis huruf kapital
print(data_leo["Nama"])

KeyError: 'Nama'

In [28]:
# Mengakses elemen nama dictionary
print(data_leo.get ("nama"))

Leonard Bodhi Kumaro

In [27]:
# tidak bisa mengakses elemen dictionary, karena kesalahan menulis huruf kapital
print(data_leo.get ("Nama"))

None

In [32]:
# Mengakses elemen umur dictionary
print(data_leo.get ("umur"))

19

In [31]:
# tidak bisa mengakses elemen dictionary, karena data belum terinput
print(data_leo.get ("tanggal_lahir"))

None

In [30]:
# Menambahkan elemen ke dictionary
print(data_leo.get ("tanggal_lahir", "2-2-2003"))

2-2-2003

In [33]:
print(data_leo)

{'nama': 'Leonard Bodhi Kumaro', 'umur': 19, 'apakah_angel': True}

In [35]:
# Menambahkan elemen nomor HP ke dictionary
data_leo['HP'] = '087784212952'
print(data_leo)

{'nama': 'Leonard Bodhi Kumaro', 'umur': 19, 'apakah_angel': True, 'HP': '087784212952'}

In [30]:
print(data_leo)

{'nama': 'Leonard Bodhi Kumaro', 'umur': 19, 'apakah_angel': True, 'HP': '087784212952'}

# 5.19 Fungsi dalam Python

### 5.19.1 Latihan Menggunakan Fungsi dalam Python

###### def adalah keyword yang digunakan untuk mendefinisikan sebuah fungsi. Setelah itu, diikuti dengan nama fungsi dan parameter yang diperlukan dalam kurung.

In [37]:
# Fungsi untuk Menampilkan nama lengkap
# Mendefinisikan fungsi "nama lengkap" dengan dua parameter first_name dan last_name
def full_nama(first_name,last_name):
    print(f"Nama lengkap khe adalah {first_name} {last_name}")

In [38]:
# Menampilkan nama lengkap
first_name = input("Nama depan adalah ")
last_name = input("Nama belakang adalah ")
full_nama(first_name,last_name)

Nama depan adalah Leo
Nama belakang adalah Nardo
Nama lengkap khe adalah Leo Nardo

In [42]:
# Fungsi untuk menghitung jumlah 2 bilangan
# Mendefinisikan fungsi "jumlah" dengan dua parameter a dan b
def jumlah(a, b):
    hasil = a + b
# Melakukan operasi penjumlahan antara a dan b, dan menyimpan hasilnya ke dalam variabel "hasil"
    return hasil
# Mengembalikan nilai hasil

# Memanggil fungsi "jumlah" dengan parameter 2 dan 3
print(jumlah(2, 3))

5

In [45]:
# Fungsi untuk menghitung luas persegi
# Mendefinisikan fungsi "luas_persegi" 
def luas_persegi(sisi):
    luas = sisi * sisi
    return luas
luas = luas_persegi(7)
print(luas)

49

# 5.20 Numpy

### 5.20.1 Latihan Menggunakan Numpy

###### -Impor NumPy dengan nama alias np.
###### -Untuk membuat array satu dimensi, cukup memasukkan nilai ke dalam kurung siku [] dan menggunakan np.array() function untuk mengkonversinya menjadi array NumPy.
###### -Untuk membuat array dua dimensi, masukkan nilai ke dalam kurung siku dengan menggunakan dua kurung siku [[]] dan menggunakan np.array() function untuk mengkonversinya menjadi array NumPy.
###### -NumPy juga memiliki banyak function untuk membuat array dengan nilai acak, seperti np.random.rand().
###### -Operasi matematika seperti penjumlahan dapat dilakukan pada array NumPy.
###### -Untuk memanggil elemen pada array, gunakan indeks dalam kurung siku [i, j], dengan i dan j mewakili indeks baris dan kolom.

In [46]:
import pandas as pd

In [47]:
import numpy as np

In [50]:
# membuat array satu dimensi
nomor_41 = np.array([1, 2, 3, 4, 5])
print(nomor_41)  # output: [1 2 3 4 5]

# membuat array dua dimensi
nomor2_41 = np.array([[1, 2, 3], [4, 5, 6]])
print(nomor2_41)

# membuat array dengan nilai acak
nomor3_41 = np.random.rand(3, 2)
print(nomor3_41)

# operasi matematika pada array
nomor4_41 = np.array([1, 2, 3])
nomor5_41 = np.array([4, 5, 6])
nomor6_41 = nomor4_41 + nomor5_41
print(nomor6_41)  

# memanggil elemen pada array
print(nomor2_41[0, 1])

[1 2 3 4 5]
[[1 2 3]
 [4 5 6]]
[[0.45788403 0.79448942]
 [0.67056569 0.45916157]
 [0.84160247 0.98222665]]
[5 7 9]
2

In [52]:
# membuat matrix dengan mengunakan Numpy
matrix = np.zeros((9, 9))
print(matrix)

[[0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0.]]

#### 5.20.1 Perintah Dasar pada Numpy

In [3]:
# contoh membuat array
a = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9])
print(a)

[1 2 3 4 5 6 7 8 9]

In [2]:
import numpy as np

In [4]:
# contoh menghasilkan array dengan nilai nol
b = np.zeros((3, 3))
print(b)

[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]

In [8]:
# menghasilkan array dengan nilai satu
c = np.ones((5, 3))
print(c)

[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

In [7]:
# Menghasilkan array dengan nilai acak
d = np.random.rand(4, 3)
print(d)

[[0.29631233 0.20643534 0.43141538]
 [0.68674878 0.72814874 0.66177278]
 [0.07430832 0.68608895 0.65748631]
 [0.13282409 0.33292429 0.49259712]]

In [10]:
# Mengambil elemen pada array
e = np.array([1, 2, 3])
print(e[2])

3

In [11]:
# Mengambil beberapa elemen pada array
f = np.array([1, 2, 3, 4, 5])
print(f[1:4])

[2 3 4]

In [12]:
# Operasi matematika pada array
g = np.array([1, 2, 3])
h = np.array([4, 5, 6])
i = g + h
print(i)

[5 7 9]

#### 5.20.2 Memanggil Anggota, Kolom dan Baris dengan Numpy

In [13]:
# memanggil elemen pada baris pertama dan kolom kedua dalam array
j = np.array([[1, 2], [3, 4]])
print(j[0, 1])

2

In [14]:
# memanggil kolom kedua dalam array
k = np.array([[1, 2], [3, 4]])
print(k[:, 1])

[2 4]

In [15]:
# memanggil baris kedua dalam array
l = np.array([[1, 2], [3, 4]])
print(l[1, :])

[3 4]

#### 5.20.3 Matrix pada Numpy

In [16]:
# membuat matrix dengan mengunakan Numpy
matrix = np.zeros((9, 9))
print(matrix)

[[0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0.]]

In [17]:
# membuat matriks kosong 3x3
a = np.zeros((3, 3))
# mengisi matriks dengan nilai
a[0, 0] = 1
a[1, 1] = 2
a[2, 2] = 3
print(a)

[[1. 0. 0.]
 [0. 2. 0.]
 [0. 0. 3.]]

In [18]:
matrix = np.zeros((55, 55))
print(matrix)

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

#### 5.20.4 Copy pada Numpy

In [20]:
import numpy as np

m = np.array([1, 2, 3])
n = np.copy(m)

n[0] = 0

print(m)
print(n)

[1 2 3]
[0 2 3]

#### 5.20.5 Operasi Matematika pada Numpy

In [22]:
o = np.array([1, 2, 3])
q = np.array([4, 5, 6])

r = o + q
s = o - q
t = o * q
u = o / q

print(r)
print(s)
print(t)
print(u)

[5 7 9]
[-3 -3 -3]
[ 4 10 18]
[0.25 0.4  0.5 ]

#### 5.20.6 Perkalian Matrik pada Numpy

In [24]:
# Matriks pertama berukuran 2x3
v = np.array([[1, 2, 3], [4, 5, 6]])

# Matriks kedua berukuran 3x2
w = np.array([[7, 8], [9, 10], [11, 12]])

# Perkalian matriks
x = np.dot(v, w)
y = v @ w

print(x)
print(y)

[[ 58  64]
 [139 154]]
[[ 58  64]
 [139 154]]

#### 5.20.7 min, max dan sum pada Numpy

In [26]:
# Membuat array satu dimensi
z = np.array([4, 2, 7, 5, 1, 8])

# Mencari nilai minimum, maksimum, dan jumlah
min1 = np.min(z)
max1 = np.max(z)
sum1 = np.sum(z)

print("Array: ", z)
print("Nilai minimum: ", min1)
print("Nilai maksimum: ", max1)
print("Jumlah: ", sum1)

Array:  [4 2 7 5 1 8]
Nilai minimum:  1
Nilai maksimum:  8
Jumlah:  27

In [27]:
# Membuat matriks
matriks_41 = np.array([[1, 3, 5], [2, 4, 6]])

# Mencari nilai minimum, maksimum, dan jumlah
min2 = np.min(matriks_41)
max2 = np.max(matriks_41)
sum2 = np.sum(matriks_41)

print("Matriks:\n", matriks_41)
print("Nilai minimum: ", min2)
print("Nilai maksimum: ", max2)
print("Jumlah: ", sum2)

Matriks:
 [[1 3 5]
 [2 4 6]]
Nilai minimum:  1
Nilai maksimum:  6
Jumlah:  21